[submodule "Resourcyst"]
	path = Resourcyst
	url = https://github.com/M4jor-Tom/Resourcyst
[submodule "MusicFindyst"]
	path = MusicFindyst
	url = https://github.com/M4jor-Tom/MusicFindyst
[submodule "Versionyst"]
	path = Versionyst
	url = https://github.com/M4jor-Tom/Versionyst
[submodule "Seekyst"]
	path = Seekyst
	url = https://github.com/M4jor-Tom/Seekyst
